
.main{ padding: 10px 7px; }
.logo{float:left;
	width:197px;


}

.navbar{float:right;
	     
}
.navbar-li{ display:inline-block;
	        font-size:30px;
	        margin:5px;
	        font-family:'Roboto-Regular';

  }
  .clear{ clear:both; }
  .box {background:#E6E6E6;}
  .photo{ max-width:1170px;
  	       width:100%;
  	      padding:30px 100px;}
  .container{ /*max-width:1370;
  	          width:100%;*/
  	          width:1370px;
  	          height:500px;
             background:#363E97;

  }
  .text{ font-size:24px; 
  	     color:#fff;
  	     padding:20px 100px;
  	     font-family:'Roboto-Regular';
 }
 
 .box1 { padding:20px 100px; }
 .italy{  float:left;
 	      width:450px; 
 	      height:300px;
 	      margin-right:20px;

 }
 .italy1{ float:right;
 	      width:450px; 
 	      height:300px;
 }
 .container:after{ content:"";
                   clear:both;
                   display:block;
 }
 .container1 {background:#BDCCD4;
 	         width:1370px;
 	         height:450px;
 	         padding:100px 100px;

 }
 

 .text1{font-size:24px;
 	    color:#3D58A6;
 	    font-family:'Roboto-Regular';
 	   margin-left:30px;
 	   margin-top:5px;
 	   margin-bottom:15px;

 }
 .grey-box {height:100%;
 	        width:20%;
 	        background:#E6E6E6;
 	        margin-right:2.5%;
 	        display:inline-block;
 }
 .grey-box p{ font-size:22px;
 	        font-family:'Roboto-Regular';
 	        text-align:center;
 	        color:#000;
 	        line-height:50px;

 	         }
 .last-box{ width:1370px;
 	        height:500px;
 	        background:#E6E6E6;
 	        clear:both;


 }
 .last-text{font-size:24px;
 	        font-family:'Roboto-Regular';
 	        color:#000;
 	        display:block;
 	        padding:20px 30px;


 }
 .last-box1{float:left;
 	        width:500px;
 	        height:300px;
 	        background:#F2F2F2;

 }

 h1{font-size:22px;
 	font-family:'Roboto-Regular';
 	color:#3D58A6;
 	display:block;
 	padding:5px 5px;
 }
 
 .last-photo{width:150px;
     	        vertical-align:top;
     	        display:inline-block;
     	        margin-right:50px;
     	        margin-top:20px;
 	         
 	         

 }
  h2{ font-size:20px;
    	   vertical-align:middle; 
    	   display:inline-block;
    	   margin-bottom:20px;
           font-family:'Roboto-Regular'; 
    	   width:250px;

  }
  
.last-box2{float:right;
 	        width:500px;
 	        height:300px;
 	        background:#F2F2F2;

 }
 .last-photo1{width:150px;
     	        vertical-align:top;
     	        display:inline-block;
     	        margin-right:50px;
     	        margin-top:20px;
 	         
 	         

 }
 